<?xml version="1.0"?>
<model>
  <name>sin_wave</name>
  <version>1.0</version>
  <sdf version="1.6">sin_wave.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    Sine wave shape ground plane model for Gazebo simulation.
  </description>
  <license>Apache 2.0</license>
</model>
