<launch>
  <!-- Launch Gazebo with the sine_wave.world file -->
  <arg name="world_file" default="$(find sine_wave_world)/worlds/sine_wave.sdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>
</launch>
